nav ul {
	padding = 0px;
	margin = 0px;
	list-style-type: none;
	background-color: #333333;
}

nav li{
	padding = 0px;
	margin = 0px;
	display: inline-block;
	width: 200px;
	height: 20px;
	border-right :1px solid #CCCCCC;
	text-align: center;
	line-height: 20px;
}

nav li a{
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	
}

nav li :hover{
	background-color: #555555;
}

nav li div {
	background-image: url(Images/LogoHeader1.jpg);
}

ul {
	margin: 0px;
	padding: 0px;
}

.navig{
	padding-bottom: 0px;
	width: 100%;
}

html {
	background-color: #D3D3D3;
}


.Image {
	padding-top: 0px;
	padding-bottom: 0px;
	background-image: url(Images/energie1.jpg);
	width:1200px;
	height:677px;
	margin-left: auto;
	margin-right: auto; 
    }

div{
	border-style: solid;
	border-color: #333333;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

.banniere{
	background-color: black;
}
